.footer {
    padding: 70px 0 100px;
    max-width: 1520px;
    margin: auto;
    height: fit-content;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .left_side{

        display: flex;
        flex-direction: column;
        gap: 70px;

        .top{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 100px;
            height: fit-content;

            .logo{
                height: 110px;
            }

            .nav{
                font-size: 18px;
                color: #000;
                display: flex;
                flex-direction: row;
                gap:30px
            }
        }

        .bottom{
            text-decoration: underline;
            color: #00000080;
            display: flex;
            flex-direction: row;
            gap: 30px;
        }
    }

    .right_side{
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: end;
        text-align: end;

        .links{
            display: flex;
            flex-direction: row;
            gap: 20px;
            margin-bottom: 20px;
        }
    }
    
    @media (max-width: 1230px) {
        grid-template-columns: 1fr 1fr;
        .section__contacts{grid-column: span 1;}
    }
    
    @media (max-width: 576px) {
        grid-template-columns: 1fr;
        gap: 30px;
    }
}