:root {
  --background: #f7f7f7;
  --text-color: #000000;
  --decor-color: #ffc40e;
  --button-color: #1e1e1e;
  --font-montserrat: 'Montserrat', sans-serif;
}

html,
body {
  background: var(--background);
  overflow-x: hidden !important;
  color: var(--text-color);
  margin: 0 !important;
  padding: 0 !important;
  font-family: var(--font-montserrat) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

button,
option,
label,
select {
  font-family: var(--font-montserrat) !important;
}

.container {
  max-width: 1520px;
  margin: 100px auto;

  @media (max-width: 1530px) {
    padding: 0 2.5%;
  }

  @media (max-width: 768px) {
    margin: 80px auto;
    padding: 0 15px;
  }

  @media (max-width: 480px) {
    margin: 60px auto;
    padding: 0 10px;
  }
}

h1 {
  color: var(--text-color); // Явно указываем цвет для iOS Safari
  font-weight: 600;
  font-style: SemiBold;
  font-size: 74px;
  line-height: 100%;
  letter-spacing: 0%;

  @media (max-width: 1600px) {
    font-size: 68px;
  }
  @media (max-width: 1440px) {
    font-size: 64px;
  }
  @media (max-width: 1400px) {
    font-size: 60px;
  }
  @media (max-width: 1366px) {
    font-size: 58px;
  }
  @media (max-width: 1000px) {
    font-size: 50px;
  }
  @media (max-width: 700px) {
    font-size: 40px;
  }
  @media (max-width: 500px) {
    font-size: 30px;
  }
}

h2 {
  color: var(--button-color);
  margin: 0 0 50px;
  font-weight: 500;
  font-style: Medium;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: 0%;

  @media (max-width: 1600px) {
    font-size: 46px;
  }
  @media (max-width: 1440px) {
    font-size: 44px;
  }
  @media (max-width: 1400px) {
    font-size: 42px;
  }
  @media (max-width: 1366px) {
    font-size: 40px;
  }
  @media (max-width: 992px) {
    font-size: 36px;
    margin: 0 0 30px;
  }
  @media (max-width: 768px) {
    font-size: 28px;
    margin: 0 0 25px;
  }
  @media (max-width: 480px) {
    font-size: 24px;
    margin: 0 0 20px;
  }
}

h3 {
  color: var(--text-color); // Явно указываем цвет для iOS Safari
  font-weight: 500;
  margin: 0;
  font-style: Medium;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;

  @media (max-width: 768px) {
    font-size: 20px;
  }
  @media (max-width: 480px) {
    font-size: 18px;
  }
}

h4 {
  color: var(--text-color); // Явно указываем цвет для iOS Safari
  margin: 0;
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;

  @media (max-width: 768px) {
    font-size: 18px;
  }
  @media (max-width: 480px) {
    font-size: 16px;
  }
}

p {
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  letter-spacing: 0%;

  @media (max-width: 768px) {
    font-size: 14px;
  }
  @media (max-width: 480px) {
    font-size: 13px;
  }
}

a {
  text-decoration: none;
  color: var(--text-color);
}
