.section_map {
  max-width: 1520px;
  margin: 100px auto;
  padding: 10px;
  background: #fff;
  border-radius: 20px;
  position: relative;

  @media (min-width: 769px) {
    margin: 100px auto 50px;
    width: 80%;
    padding: 20px;
    border-radius: 35px;
  }
  
  p{
    margin: 10px;
    font-size: 18px;
  }

  .info_title{
    margin-bottom: 10px;
    font-size: 24px;
  }
}

.map {
  width: 100%;
  height: 300px;
  border-radius: 15px !important;


  @media (min-width: 769px) {
    height: 500px;
    border-radius: 35px !important;
  }
}

.info_block {
  width: 100%;
  margin-top: 15px;
  padding: 20px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.95);
  display: flex;
  flex-direction: column;
  gap: 8px;

  h2{
    margin-bottom: 30px !important;
  }
  

  @media (min-width: 769px) {
    position: absolute;
    top: 7%;
    left: 3%;
    width: 600px;
    height: 400px;
    padding: 30px;
    border-radius: 35px;
    margin-top: 0;
  }
}

.info_block_bottom {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin: 15px 0;

  @media (min-width: 769px) {
    justify-content: flex-start;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 0;
  }
}

.info_block_bottom_item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  border-radius: 100px;
  text-decoration: none;
  color: inherit;
  border: 1px solid transparent;
  

  &:nth-child(1){
    background:
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(180deg, #8F3FFF 0%, #5A8CFF 50.96%, #43D6FF 100%) border-box;
  }

  &:nth-child(2){
    background:
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(180deg, #2AABEE 0%, #229ED9 100%) border-box;
  }

}

.mobile_note small {
  font-size: 12px;
  line-height: 1.4;
}
