.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 40px;

  @media (max-width: 1440px) {
    gap: 8px;
    margin-top: 35px;
  }

  @media (max-width: 1366px) {
    gap: 8px;
    margin-top: 30px;
  }
}

.item {
  width: 100%;
  aspect-ratio: 1 / 1; // аккуратные пропорции
  border-radius: 20px;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  /* fade-in */
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.8s ease forwards;

  @media (max-width: 520px) {
    border-radius: 12px;
  }
}

/* разные задержки по-порядку*/
.item:nth-child(1) {
  animation-delay: 0.25s;
}
.item:nth-child(2) {
  animation-delay: 0.05s;
}
.item:nth-child(3) {
  animation-delay: 0.45s;
}
.item:nth-child(4) {
  animation-delay: 0.15s;
}
.item:nth-child(5) {
  animation-delay: 0.6s;
}
.item:nth-child(6) {
  animation-delay: 0.3s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* адаптив */
@media (max-width: 900px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 520px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 6px;
  }
}

.bottom_gallery {
  margin-top: 30px;
  display: flex;
  justify-content: center;

  @media (max-width: 480px) {
    margin-top: 20px;
  }
}

.CTA_button {
  height: 55px;
  width: 215px;
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 3px 7px;
  border: 2px solid var(--button-color);
  border-radius: 999px;
  background: #ffffff;
  color: var(--button-color);
  text-decoration: none;
  transition: background 0.4s ease;

  @media (max-width: 768px) {
    height: 50px;
    width: 180px;
    gap: 20px;
  }

  @media (max-width: 480px) {
    height: 45px;
    width: 100%;
    max-width: 180px;
    gap: 18px;
  }

  .button_text {
    font-size: 16px;
    line-height: 1;
    white-space: nowrap;
    transition: transform 0.4s ease;

    @media (max-width: 480px) {
      font-size: 14px;
    }
  }

  .button_icon {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    background: var(--button-color);
    display: grid;
    place-items: center;
    flex-shrink: 0;
    transition: transform 0.4s ease;

    @media (max-width: 768px) {
      width: 42px;
      height: 42px;
    }

    @media (max-width: 480px) {
      width: 38px;
      height: 38px;
    }
  }

  .button_arrow {
    width: 29px;
    height: 29px;
    color: #111;
    transform: rotate(-45deg);
    transition: transform 0.4s ease;

    @media (max-width: 480px) {
      width: 24px;
      height: 24px;
    }
  }

  @media (hover: hover) {
    &:hover {
      .button_icon {
        transform: translateX(calc(215px - 55px - 7px));
      }

      .button_text {
        transform: translateX(-60px);
      }

      .button_arrow {
        transform: rotate(0deg);
      }

      @media (max-width: 768px) {
        .button_icon {
          transform: translateX(calc(180px - 47px - 7px));
        }
        .button_text {
          transform: translateX(-50px);
        }
      }
    }
  }

  &:active {
    transform: translateY(1px);
  }
}
